{% extends 'layout.html' %}

{% block body %}
<div class="col-md-4  offset-md-4">
    <div class="card card-body">
        <form action = "/update/{{producto.0}}" method="POST">
            
            <div class="form-group">
                <input type="text" name="cod_articulo" placeholder="Codigo Articulo" value="{{producto.1}}" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="descripcion" placeholder="Descripción" value="{{producto.2}}" class="form-control">
            </div>
            
            <div class="form-group">
                <input type="text" name="un_medida" placeholder="Unidad de Medida" value="{{producto.3}}" class="form-control">
            </div>

            <div class="form-group">
                <input type="text" name="clasificacion" placeholder="Clasificación" value="{{producto.4}}" class="form-control">
            </div>
            <!------ linea de token es necesaria ya que el sistema lo solicita-->
            <input type="hidden" name="csrf_token" value="{{csrf_token() }}"/>
            <!---------------------- es solo esta linea------------------------->
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block" class="form-control">
                    GUARDAR
                </button>
            </div>
        </form>
    </div>
</div>

<center><a class="btn btn-secondary" href="{{ url_for('indexGastronomia') }}" style="margin: 10px">REGRESAR</a></center>

{% endblock%}