{% extends 'layout.html' %}

{% block title %}Modulo Gastronomia{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://bootswatch.com/5/materia/bootstrap.min.css">
<div class="row">
    <div class="col_md_5">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- BOTONES DONDE SE MUESTRAN LOS DIFERRENTES LABORATORIOS -->
        <!-- <div class="regresar">
            <div class="regresar">
                <a class="btn btn-secondary" href="{{ url_for('labtorioUno') }}">VER LABORATORIO 1</a>
            </div>
            <div class="regresar">
                <a class="btn btn-secondary" href="{{ url_for('labtorioUno') }}">VER LABORATORIO 2</a>
            </div>
            <div class="regresar">
                <a class="btn btn-secondary" href="{{ url_for('labtorioUno') }}">VER LABORATORIO 3</a>
            </div>
        </div> -->

        <!-- donde se ingresan los datos principales del crud -->
        <div class="col_md_7 pt-4">
        <!-- <div class="divGastronomia"> -->
            <div class="card card_body">
                <form action = "/add_producto" method="POST">
                    <div class="form-group">
                        <input type="text" name="cod_articulo" placeholder="Codigo Articulo" class="form-control">
                    </div>
                    <div class="form-group">
                        <text style="color: darkgray">Fecha:</text>
                        <input type="date" name="fecha" class="form-control">
                    </div>

                    <div class="form-group">
                        <input type="text" name="concepto" placeholder="Concepto" class="form-control"> <!--concepto hace referencia si es compra al proovedor o salida para laboratorio -->
                   </div>

                    <div class="form-group">
                        <input type="text" name="descripcion" placeholder="Descripción" class="form-control">
                    </div>

                    <div class="form-group">
                        <input type="text" name="cantidad_producto" placeholder="Cantidad del producto" class="form-control">
                    </div>

                    <div class="form-group">
                        <input type="text" name="un_medida" placeholder="Unidad de Medida" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <input type="text" name="clasificacion" placeholder="Clasificación" class="form-control">
                    </div>

                    <div class="form-group">
                        <input type="text" name="entrada" placeholder="Valor entrada" class="form-control">   <!--# Se cambia el nombre a "entrada"-->
                    </div>

                    <div class="form-group">
                        <input type="text" name="salida" placeholder="Valor salida" class="form-control">  <!-- # Se agrega una columna para las salidas igual en la base de datos-->
                    </div>

                    <!-- <div class="form-group">
                        <input type="text" name="saldo" placeholder="Saldo" class="form-control"> 
                    </div> -->
                        <!------ linea de token es necesaria ya que el sistema lo solicita-->
                        <input type="hidden" name="csrf_token" value="{{csrf_token() }}"/>
                        <!---------------------- es solo esta linea------------------------->
                    <div class="form-group">
                        <center><button type="submit" class="btn btn-primary btn-block">GUARDAR</button></center>
                    </div>
                </form>
            </div>

        </div>

    </div>
    <!-- aca se muestra la tabla con los datos ingresados anteriormente  en la misma vista-->
    
    <div class="col_md_7 pt-4">
        <div class="div1">
            <div class="d-flex justify-content-between">
                <!-- Agrega aquí tu menú -->
                <ul class="list-group">
                    <li class="list-group-item">Opción 1</li>
                    <li class="list-group-item">Opción 2</li>
                    <!-- Agrega más opciones según sea necesario -->
                </ul>
            </div>    
                <table class="table table-striped table-bordered bg-white table-sm">
                    <thead>
                        
                            <tr>
                                <td>Codigo Articulo</td>
                                <td>Fecha</td>
                                <td>Concepto</td>
                                <td>Descripción</td>
                                <td>C/Producto</td>
                                <td>U/Medida</td> 
                                <td>Stock productos</td> 
                                <td>Clasificación</td> 
                                <td>Valor entrada</td> <!-- Cambia "Valor Unitario" a "Entrada" -->
                                <td>Valor salida</td> <!-- Agrega una columna para las salidas -->
                                <td>Saldo</td> <!-- Agrega una columna para el saldo actual -->
                                <td>Operaciones</td>
                            </tr>
                        
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                        <!-- acciones de editar o eliminar -->
                        <tr>
                            <td>{{ producto.cod_articulo }}</td>
                            <td>{{ producto.fecha }}</td>
                            <td>{{ producto.concepto }}</td> 
                            <td>{{ producto.descripcion }}</td>
                            <td>{{ producto.cantidad_producto }}</td>
                            <!-- <td>{{ producto.cantidad_calculada }}</td> -->
                            <td>{{ producto.un_medida }}</td>

                            <td>{{ producto.stock_productos }}</td>
                            
                            <td>{{ producto.clasificacion }}</td>
                            <td>{{ producto.entrada if producto.entrada != 0 else "" }}</td> <!-- Muestra solo si es entrada -->
                            <td>{{ producto.salida if producto.salida != 0 else "" }}</td> <!-- Muestra solo si es salida -->
                            <td>{{ producto.saldo }}</td> 
                            <td> 
                                <a href="/edit_producto/{{producto.id}}" class="btn btn-secondary">Editar</a>
                                <a href="/delete_producto/{{producto.id}}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> 
</div>
<center><a class="btn btn-secondary" href="{{ url_for('home') }}">REGRESAR</a></center>
{% endblock %}