body{
    /* height: 100%;
    margin: 0; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    /* background-image: linear-gradient(to bottom,rgba(25, 88, 85, 1), rgba(83, 88, 231, 0.73)); */
    background-color: white;
  }

/* .boton{
    font-size:50px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:white;
    background:#2e28cd;
    /* float: right; ojo no va 
    border-width:5px;
    border-radius:15px;
    width:300px;
    height:109px;
   }*/

/* .botonEditar{
  padding: 15px;  tamaño de letra
  font-size:50px;
  font-family:Verdana,Helvetica;
  text-align: center; no va
  font-weight:bold;
  color:white;
  background:#2e28cd;
  float: center; no va
  border-width:5px;
  border-radius:15px;
  width:470px;
  height:109px; 
}*/
/* .div1{ */
  /* font-size:12px; cambie el tamaño de la letra */
  /* border: 5px solid darkblue; */
  /* height: 280px; */
  /* margin: 0px 925px 0px 0px; */
  /* padding: -10%; */
  /* width: 1300px; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* float: left; */
/* } */

.divSalud{
  font-size:12px; /*cambie el tamaño de la letra */
  /* border: 5px solid darkblue; */
  /* height: 280px; */
  /* margin: 0 auto; */
  /* padding: -10%; */
  width: 1300px;
  /* display: flex; */
  justify-content: space-between;
  float: right;
}

.divGastronomia{
  /* font-size:16px; cambie el tamaño de la letra */
  /* border: 5px solid darkblue; */
  /* height: 280px; */
  /* margin: 5%; */
  /* padding: -10%; */
  width: 1100px;
  /* display: flex; */
  justify-content: space-between;
  float: right;
}

.regresar{
  margin-top: 15;
  border-radius:15px;
  /* border: 5px solid darkblue; */
  height: 100px;
  /* margin: 2%; */
  /* padding:0%; */
  width: 180px;
  /* display: flex; */
  /* justify-content: space-between; */
  float: left;
}

/* ====================================//============================================ */
.btn-eliminar {
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 7vh;  da espacio verticalmente entre los botones */
}

.center-horizon-vert {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; /* da espacio verticalmente entre los botones */
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.col-sm-4 {
   margin: 15px; /* da espacio horizontalmente entre los botones */
}

.boton {
  font-weight:bold; /* cambia la letra a negrita  */
  background-color: #f00; /* Cambia el color de fondo según tus necesidades */
  color: #fff;
  /* width: 100%; */
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-width:5px;
  border-radius:15px;
  width:140px;
  height:80px; 
}

.boton-dos {
  font-weight:bold;
  background-color: #0f0; /* Cambia el color de fondo según tus necesidades */
  color: #fff;
  width: 100%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-width:5px;
  border-radius:15px;
  width:140px;
  height:80px; 
}

.semaforo {
  margin: 25px 0 0 25px; /*Centra el semaforo en el campo*/
  /* font-size: 15px; leda tamaño al texto detro del semaforo */
  display: flex; 
  justify-content: center;
  align-items: center;
}

.red {
  color: red;
}
.yellow {
  color: yellow;
}
.green {
  color: green;
}

i.bi-radioactive {
  /* color: rgb(255, 0, 195); Color para el icono de crítico */
  /* float:left; */
  margin-left: -14px;
  padding: 10px;
  font-size: 34px;
}

i.bi-shield-check {
  /*color: green;  Color para el icono de no crítico */
  margin-left: -14px;
  padding: 10px;
  font-size: 34px;
}

/* =======================PRUEBA HOJA DE VIDA ESTILOS===================== */
/* hojaVida {
  font-family: Arial, sans-serif;
  margin: 20px;
}
.header {
  text-align: center;
  margin-bottom: 20px;
}
.product-info {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}
.product-info h2 {
  font-size: 24px;
  margin-top: 0;
}
.product-info p {
  margin: 0;
}
.product-status {
  font-weight: bold;
}
.editable {
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
}
.editable input {
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 14px;
}
.save-button {
  display: none;
  margin-top: 10px;
} */

.nombre-Bienvenida {
  height: 50%; /* Mantiene la altura del contenedor */
  padding: 3px; /* Espaciado interno */
  display: flex; /* Activar flexbox */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-align: center; /* Asegurar que el texto esté centrado */
  font-size: 1.7em; /* Tamaño de fuente medio, ajusta según sea necesario */
}

.center-horizon-vert-home {
  display: flex;                   /* Activar flexbox */
  justify-content: center;         /* Centrar horizontalmente */
  align-items: center;             /* Alinear verticalmente */
  padding: 20px;                   /* Espacio interno */
}

.row {
  display: flex;                   /* Activar flexbox en la fila */
  justify-content: space-between;  /* Distribuir los elementos uniformemente */
  flex-wrap: wrap;                 /* Permitir que los elementos se envuelvan */
}

.boton-home-1 {
  background-color: #19BCD6;       /* Color de fondo */
  border: none;                    /* Sin borde */
  color: white;                    /* Color del texto */
  padding: 15px;                   /* Espaciado interno vertical */
  font-size: 16px;                 /* Tamaño de fuente */
  cursor: pointer;                 /* Cambiar cursor al pasar sobre el botón */
  transition: background-color 0.3s; /* Transición suave */
  width: 100%;                     /* Asegura que el botón use todo el ancho de la columna */
  text-align: center;              /* Centrar el texto */
  box-sizing: border-box;          /* Asegurar que el padding no afecte el ancho total */
  border-radius: 10px;            /* Bordes redondeados */
}

.boton-home-2 {
  background-color: #5F6D73;       /* Color de fondo */
  border: none;                    /* Sin borde */
  color: white;                    /* Color del texto */
  padding: 15px;                   /* Espaciado interno vertical */
  font-size: 16px;                 /* Tamaño de fuente */
  cursor: pointer;                 /* Cambiar cursor al pasar sobre el botón */
  transition: background-color 0.3s; /* Transición suave */
  width: 100%;                     /* Asegura que el botón use todo el ancho de la columna */
  text-align: center;              /* Centrar el texto */
  box-sizing: border-box;          /* Asegurar que el padding no afecte el ancho total */
  border-radius: 10px;            /* Bordes redondeados */
}

/* Si deseas redondear los bordes solo en las esquinas superiores o inferiores, puedes especificar así:
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
*/

.boton-home-1:hover {
  background-color: #5F6D73;       /* Color de fondo al pasar el mouse */
}

.boton-home-1 a {
  text-decoration: none;            /* Sin subrayado en el texto */
  color: inherit;                  /* Heredar el color del botón */
  display: block;                  /* Hacer que el enlace use el 100% del botón */
  height: 100%;                    /* Hacer que el enlace ocupe todo el botón */
  line-height: 1.5;
  width: 200px;                /* Ajustar el espacio entre líneas */
}

.boton-home-2:hover {
  background-color: #19BCD6;       /* Color de fondo al pasar el mouse */
}

.boton-home-2 a {
  text-decoration: none;            /* Sin subrayado en el texto */
  color: inherit;                  /* Heredar el color del botón */
  display: block;                  /* Hacer que el enlace use el 100% del botón */
  height: 100%;                    /* Hacer que el enlace ocupe todo el botón */
  line-height: 1.5;
  width: 200px;                /* Ajustar el espacio entre líneas */
}

.container-dashboard-home {
  padding: 20px;                   /* Espacio interno del contenedor */
  background-color: #f8f9fa;      /* Color de fondo */
  border-radius: 10px;             /* Bordes redondeados */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.grafico {
  background-color: #143840;      /* Color de fondo */
  color: white;                   /* Color del texto */
  text-align: center;             /* Centrar el texto */
  padding: 20px;                  /* Espaciado interno */
  border-radius: 10px;            /* Bordes redondeados */
  box-sizing: border-box;          /* Asegura que el padding no afecte el ancho total */
}

.img-fluid {
  max-width: 100%;                /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto;                   /* Mantiene la relación de aspecto */
  margin-top: 10px;               /* Espacio superior para separar la imagen del texto */
}


.row.no-gutters {
  margin-right: 0;                 /* Eliminar margen derecho de la fila */
  margin-left: 0;                  /* Eliminar margen izquierdo de la fila */
  width: 100%;                     /* Asegura que la fila use todo el ancho disponible */
}


