body{
    /* height: 100%;
    margin: 0; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    background-image: linear-gradient(to bottom,rgba(25, 88, 85, 1), rgba(83, 88, 231, 0.73));
  }

/* .boton{
    font-size:50px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:white;
    background:#2e28cd;
    /* float: right; ojo no va 
    border-width:5px;
    border-radius:15px;
    width:300px;
    height:109px;
   }*/

/* .botonEditar{
  padding: 15px;  tamaño de letra
  font-size:50px;
  font-family:Verdana,Helvetica;
  text-align: center; no va
  font-weight:bold;
  color:white;
  background:#2e28cd;
  float: center; no va
  border-width:5px;
  border-radius:15px;
  width:470px;
  height:109px; 
}*/
/* .div1{ */
  /* font-size:12px; cambie el tamaño de la letra */
  /* border: 5px solid darkblue; */
  /* height: 280px; */
  /* margin: 0px 925px 0px 0px; */
  /* padding: -10%; */
  /* width: 1300px; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* float: left; */
/* } */

.divSalud{
  font-size:12px; /*cambie el tamaño de la letra */
  /* border: 5px solid darkblue; */
  /* height: 280px; */
  /* margin: 0 auto; */
  /* padding: -10%; */
  width: 1300px;
  /* display: flex; */
  justify-content: space-between;
  float: right;
}

.divGastronomia{
  /* font-size:16px; cambie el tamaño de la letra */
  /* border: 5px solid darkblue; */
  /* height: 280px; */
  /* margin: 5%; */
  /* padding: -10%; */
  width: 1100px;
  /* display: flex; */
  justify-content: space-between;
  float: right;
}

.regresar{
  margin-top: 15;
  border-radius:15px;
  /* border: 5px solid darkblue; */
  height: 100px;
  /* margin: 2%; */
  /* padding:0%; */
  width: 180px;
  /* display: flex; */
  /* justify-content: space-between; */
  float: left;
}

/* ====================================//============================================ */
.btn-eliminar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh; /* da espacio verticalmente entre los botones */
}

.center-horizon-vert {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; /* da espacio verticalmente entre los botones */
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.col-sm-4 {
   margin: 15px; /* da espacio horizontalmente entre los botones */
}

.boton {
  font-weight:bold; /* cambia la letra a negrita  */
  background-color: #f00; /* Cambia el color de fondo según tus necesidades */
  color: #fff;
  /* width: 100%; */
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-width:5px;
  border-radius:15px;
  width:140px;
  height:80px; 
}

.boton-dos {
  font-weight:bold;
  background-color: #0f0; /* Cambia el color de fondo según tus necesidades */
  color: #fff;
  width: 100%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-width:5px;
  border-radius:15px;
  width:140px;
  height:80px; 
}

.semaforo {
  margin: 25px 0 0 25px; /*Centra el semaforo en el campo*/
  /* font-size: 15px; leda tamaño al texto detro del semaforo */
  display: flex; 
  justify-content: center;
  align-items: center;
}

.red {
  color: red;
}
.yellow {
  color: yellow;
}
.green {
  color: green;
}

i.bi-radioactive {
  /* color: rgb(255, 0, 195); Color para el icono de crítico */
  /* float:left; */
  margin-left: -14px;
  padding: 10px;
  font-size: 34px;
}

i.bi-shield-check {
  /*color: green;  Color para el icono de no crítico */
  margin-left: -14px;
  padding: 10px;
  font-size: 34px;
}

/* =======================PRUEBA HOJA DE VIDA ESTILOS===================== */
/* hojaVida {
  font-family: Arial, sans-serif;
  margin: 20px;
}
.header {
  text-align: center;
  margin-bottom: 20px;
}
.product-info {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}
.product-info h2 {
  font-size: 24px;
  margin-top: 0;
}
.product-info p {
  margin: 0;
}
.product-status {
  font-weight: bold;
}
.editable {
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
}
.editable input {
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 14px;
}
.save-button {
  display: none;
  margin-top: 10px;
} */