/* .div1-indexSalud {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */

.div1-indexSalud {
    width: 100%;
    max-width: 1472px;
    margin-bottom: -90px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-left: 23px;
}

@media (max-height: 788px) {
    .div1-indexSalud {
        width: 101.4%;
        max-width: 1423px;
        margin-bottom: -51px; /* para mover la margen de los contenedores*/
        padding: 0 10px;
        display: center;
        min-height: 100vh;
        margin-left: 9px;
        
    }
}

.table-container {
    width: 100%;
    max-width: 1475px;
    margin-bottom: -690px;
    /* Igual margen para el formulario y la tabla */
    padding: 0;
    /* Añadimos algo de padding para evitar que el contenido toque los bordes */

}

@media (max-width: 768px) {
    .table-container {
        width: 100%;
        max-width: 1300px;
        margin-bottom: 600px;
        /* Igual margen para el formulario y la tabla */
        padding: 0 10px;
        /* Ajusta el padding para pantallas más pequeñas */
    }
}

.card-indexSalud {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 2000px;
    margin: 0 auto;
    margin-left: -22px;
    /* Margen uniforme */
    width: 100%;
    /* Asegura que el contenedor ocupe el ancho completo */
    top: 0;
    /* Lo posiciona en la parte superior */
}

@media (max-width: 768px) {
    .card-indexSalud {
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 2000px;
        margin: 0 auto;
        margin-left: -22px;
        /* Margen uniforme */
        width: 100%;
        /* Asegura que el contenedor ocupe el ancho completo */
        top: 0;
        /* Lo posiciona en la parte superior */
    }
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    /* Reduce el espacio entre las columnas */
}

.form-group {
    margin-bottom: 10px;
    /* Reduce el espaciado entre los elementos del formulario */
}

/* Estilo para los inputs */
.form-control {
    border: 1px solid #5F6D73;
    border-radius: 4px;
    padding: 10px;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #0056b3;
    outline: none;
}

/* Estilo adicional para la clase -indexSalud */
.indexSalud-indexSalud {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 15px;
    /* Reduce el espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-indexSalud {
    font-size: 14px;
    color: white;
    padding: 10px 15px;
    background-color: #143840;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    transition: background-color 0.9s ease;
}

.btn-indexSalud:hover {
    background-color: #25CACD;
}

.table-responsive {
    width: 100%;
    overflow: hidden;
    /* Elimina la barra de desplazamiento */
    max-width: 1500px;
    /* Limita el tamaño máximo */
    border-radius: 0px;
}

table.dataTable {
    width: 100%;
    max-width: 400px;
    border: 3px solid #eeecec; /*color del borde de la tabla */
    
}
#tabla {
    font-size: 14.7px; /* Mueve el margen de la tabla */
    min-height: 300px; /* Altura mínima para evitar que sea demasiado corta */
    max-height: 900px; /* Limitar la altura si el contenido es demasiado largo */
    overflow-y: auto; /* Añadir barra de desplazamiento vertical si es necesario */
}

#tabla td, #tabla th {
    padding: 9px; /* Ajustar padding de las celdas */
}


@media (max-height: 788px) {
    table.dataTable {
        width: 100%;
        max-width: 400px;
        border: 1px solid #eeecec; /*color del borde de la tabla */
        
    }
    #tabla {
        font-size: 14px; /* Reducir tamaño de fuente */
        min-height: 300px; /* Altura mínima para evitar que sea demasiado corta */
        max-height: 900px; /* Limitar la altura si el contenido es demasiado largo */
        overflow-y: auto; /* Añadir barra de desplazamiento vertical si es necesario */
        
    }

    #tabla td, #tabla th {
        padding: 9px; /* Ajustar padding de las celdas */
    }
}

/* Contenedor general que engloba el formulario y la tabla */
.container-indexSalud {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-top: 0;
    /* Elimina el margen superior */
}

.table-container-indexSalud {

    width: 100%;
    max-width: 1800px;
    margin-bottom: 10px;
}

.card-equipos-masivos {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
    flex-shrink: 0;
    width: 95.2%;
    max-width: 98%;
    margin-left: 13px;
    border-radius: 7px;
    margin-bottom: 20px;
}

@media (max-height: 780px) {

    .card-equipos-masivos {
        box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
        flex-shrink: 0;
        width: 100%;
        max-width: 98%;
        margin-left: 12px;
        border-radius: 7px;
        margin-bottom: 20px;
    }
}

/* Esta porcion de codgigo es para el boton de previous, next que hace parte del campo filtro o buscar */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin-left: -12px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}

/* para los botones dentro de la tabla indexSalud */

.btn-tabla {
    background-color: rgba(20, 56, 64, 1); /* Color de fondo */
    color: white; /* Color del texto, ajustable */
    border: none; /* Remover bordes si deseas */
}

.btn-tabla:hover {
    background-color: rgba(37, 202, 205, 1); /* Color más claro para hover */
}