/* .div1-indexSalud {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */

.div1-indexSalud {
    width: 100%;
    max-width: 1300px;
    margin-bottom: -690px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@media (max-height: 788px) {
    .div1-indexSalud {
        width: 101.4%;
        max-width: 1300px;
        margin-bottom: -170px;
        padding: 0 10px;
        display: center;
        min-height: 100vh;
        margin-left: -9px;
    }
}

.table-container {
    width: 100%;
    max-width: 1300px;
    margin-bottom: -690px;
    /* Igual margen para el formulario y la tabla */
    padding: 0;
    /* Añadimos algo de padding para evitar que el contenido toque los bordes */
}

@media (max-width: 768px) {
    .table-container {
        width: 100%;
        max-width: 1300px;
        margin-bottom: 600px;
        /* Igual margen para el formulario y la tabla */
        padding: 0 10px;
        /* Ajusta el padding para pantallas más pequeñas */
    }
}

.card-indexSalud {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1300px;
    margin: 0 auto;
    /* Margen uniforme */
    width: 100%;
    /* Asegura que el contenedor ocupe el ancho completo */
    top: 0;
    /* Lo posiciona en la parte superior */
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    /* Reduce el espacio entre las columnas */
}

.form-group {
    margin-bottom: 10px;
    /* Reduce el espaciado entre los elementos del formulario */
}

/* Estilo para los inputs */
.form-control {
    border: 1px solid #5F6D73;
    border-radius: 4px;
    padding: 10px;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #0056b3;
    outline: none;
}

/* Estilo adicional para la clase -indexSalud */
.indexSalud-indexSalud {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 15px;
    /* Reduce el espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-indexSalud {
    font-size: 14px;
    color: white;
    padding: 10px 15px;
    background-color: #143840;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    transition: background-color 0.9s ease;
}

.btn-indexSalud:hover {
    background-color: #25CACD;
}

.table-responsive {
    width: 100%;
    overflow: hidden;
    /* Elimina la barra de desplazamiento */
    max-width: 1300px;
    /* Limita el tamaño máximo */
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}


/* Contenedor general que engloba el formulario y la tabla */
.container-indexSalud {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-top: 0;
    /* Elimina el margen superior */
}

.table-container-indexSalud {

    width: 100%;
    max-width: 1800px;
    margin-bottom: 10px;

}

.card-equipos-masivos {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
    flex-shrink: 0;
    width: 98.2%;
    max-width: 84.3%;
    margin-left: 10px;
    border-radius: 7px;
    margin-bottom: 20px;
}

@media (max-height: 780px) {

    .card-equipos-masivos {
        box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
        flex-shrink: 0;
        width: 100%;
        max-width: 98%;
        margin-left: 12px;
        border-radius: 7px;
        margin-bottom: 20px;
    }
}