{% extends 'layout.html' %}

{% block title %}Modulo Salud{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://bootswatch.com/5/materia/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/indexSalud.css') }}">
<div class="container-salud">
    <div class="container-indexSalud">
        <div class="row">
            <div class="col-md-12 mb-4">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category,message in messages %}
                            <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <br>
                <div class="div1-indexSalud" id="formContainer" style="display: none;">
                    <div class="card-indexSalud">
                        <form action="{{ url_for('inventario.AGREGAR_PRODUCTO_SALUD', modulo=modulo) }}" method="POST" enctype="multipart/form-data">
                            <!-- <input type="hidden" name="modulo" value="{{ modulo }}"> -->
                            <div class="form-grid">
                                <!-- Aquí se ajusta el formulario para ser responsivo -->
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <input type="text" name="cod_articulo" placeholder="Código Equipo"
                                            class="form-control">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" name="nombre_equipo" placeholder="Nombre Equipo"
                                            class="form-control">
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <label style="color: darkgray; opacity: 0%;">.</label>
                                        <input type="text" name="periodicidad" placeholder="Periodicidad Mantenimiento"
                                            class="form-control" required>
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <label style="color: darkgray; opacity: 0%;">.</label>
                                        <input type="text" name="periodicidad_calibracion" placeholder="Periodicidad Calibración (Si no existe ingresar 0) "
                                            class="form-control" required>
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <label style="color: darkgray">Mantenimiento Actual</label>
                                        <input type="date" name="fecha_mantenimiento" class="form-control">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label style="color: darkgray">Próximo Mantenimiento</label>
                                        <input type="date" name="vencimiento_mantenimiento" class="form-control">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label style="color: darkgray">Calibración Actual</label>
                                        <input type="date" name="fecha_calibracion" class="form-control">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label style="color: darkgray">Próxima Calibración</label>
                                        <input type="date" name="vencimiento_calibracion" class="form-control">
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <label style="color: darkgray">Fecha Ingreso</label>
                                        <input type="date" name="fecha_ingreso" class="form-control">
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <label for="estado_equipo">Estado Equipo</label>
                                        <select name="estado_equipo" class="form-control" required>
                                            <!-- Opción inicial -->
                                            <option value="" disabled selected>Seleccione Estado</option>
                                            <!-- Opciones que se encuentran en la DB -->
                                            {% for estadoEquipo in estadoEquipos %}
                                            <option value="{{ estadoEquipo.estado_equipo }}">{{ estadoEquipo.estado_equipo }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <label for="ubicacion_original">Ubicación Original</label>
                                        <select name="ubicacion_original" class="form-control" required>
                                            <!-- Opción inicial -->
                                            <option value="" disabled selected>Seleccione Ubicación</option>
                                            <!-- Opciones que se encuentran en la DB -->
                                            {% for ubicacionEquipo in ubicacionEquipos %}
                                            <option value="{{ ubicacionEquipo.ubicacion_original }}">{{ ubicacionEquipo.ubicacion_original }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <label for="proveedor_responsable">Proveedor de Venta</label>
                                        <select name="proveedor_responsable" class="form-control" required>
                                            <!-- Opción inicial -->
                                            <option value="" disabled selected>Seleccione Proveedor</option>
                                            <!-- Opciones que se encuentran en la DB -->
                                            {% for proveedor in proveedores %}
                                            <option value="{{ proveedor.id }}">{{ proveedor.nombre_empresa }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <input type="text" name="garantia" placeholder="Garantía Ingreso" class="form-control" >
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <input type="text" name="criticos" placeholder="Criticos" class="form-control">
                                    </div>
                                    
                                    <div class="col-md-6 form-group">
                                        <input type="text" name="especificaciones_instalacion" placeholder="Especificaciones Instalación" class="form-control">
                                    </div>
                                    
                                    <div class="col-md-6 form-group">
                                        <input type="text" name="cuidados_basicos" placeholder="Cuidados Basicos" class="form-control">
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <input type="text" name="marca_equipo_salud" placeholder="Marca Equipo" class="form-control">
                                    </div>
                                    
                                    <div class="col-md-6 form-group">
                                        <input type="text" name="modelo_equipo_salud" placeholder="Modelo Equipo" class="form-control">
                                    </div>
                                    
                                    <div class="col-md-6 form-group">
                                        <input type="text" name="serial_equipo_salud" placeholder="Serial Equipo" class="form-control">
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <!-- Subir Imagen -->
                                        <label for="imagen_producto" class="btn btn-secondary">Subir Imagen</label>
                                        <input type="file" id="imagen_producto" name="imagen_producto" class="d-none" >
                                        <span id="nombre-imagen" class="text-muted"></span>

                                        <!-- Subir Guía PDF -->
                                        <label for="guia_pdf" class="btn btn-secondary">Subir Guía</label>
                                        <input type="file" id="guia_pdf" name="guia_pdf" class="d-none">
                                        <span id="nombre-pdf" class="text-muted"></span>
                                    </div>

                                </div>
                            </div>
                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
                            <div class="form-group">
                                <center><button type="submit" class="btn-indexSalud">GUARDAR</button></center>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <!-- New form for inserting CSV -->
            <div class="card-equipos-masivos" id="formContain" style="display: none;">
                <form action="{{ url_for('inventario.insert_csv', modulo=modulo) }}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="file" accept=".csv" class="custom-file-input" required>
                    </div>
                    <!------ linea de token es necesaria ya que el sistema lo solicita-->
                    <input type="hidden" name="csrf_token" value="{{csrf_token() }}" />
                    <!---------------------- es solo esta linea----------------------->
                    <div class="form-group">
                        <center>
                            <button type="submit" class="btn-indexSalud">Ingresar equipos</button>
                        </center>
                    </div>
                </form>
            </div>

            <!-- Botón para abrir el modal para actualizar fechas y gaurdar en el historial-->
            <!-- <div class="mb-3">
                <a id="toggleFor"
                    class="btn-expand-icon"
                    data-bs-toggle="modal"
                    data-bs-target="#modalOpciones"
                    title="Actualizar fechas masivas">
                    🔁 <span class="text-label">Actualización masiva</span>
                </a>
            </div> -->

            <!-- Modal Para Actualización de Fechas y Guardado de Historial-->
            <div class="modal fade" id="modalOpciones" tabindex="-1" aria-labelledby="modalOpcionesLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalOpcionesLabel">Programar mantenimiento o calibración y guarda en historial</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>

                    <div class="modal-body">
                        <form id="form-checkbox-programacion" method="POST">
                        <div class="row g-3">
                            <!-- Selector de proveedor -->
                            <div class="col-md-6">
                            <label for="selectProveedor" class="form-label">Proveedor responsable</label>
                            <select name="proveedor_id" id="selectProveedor" class="form-control" required>
                                <option value="" disabled selected>Seleccione un proveedor</option>
                                {% for proveedor in proveedores %}
                                <option value="{{ proveedor.id }}">{{ proveedor.nombre_empresa }}</option>
                                {% endfor %}
                            </select>
                            </div>

                            <!-- Periodicidad -->
                            <div class="col-md-3">
                            <label for="nuevaPeriodicidad" class="form-label">Periodicidad (meses)</label>
                            <input type="number" id="nuevaPeriodicidad" class="form-control" min="1" required>
                            </div>

                            <!-- Fecha -->
                            <div class="col-md-3">
                            <label for="nuevaFecha" class="form-label">Fecha de ejecución</label>
                            <input type="date" id="nuevaFecha" class="form-control" required>
                            </div>
                        </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="guardarSeleccionados" class="btn btn-tabla btn-lg"> Guardar seleccionados</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                    
                    </div>
                </div>
            </div>


            <!-- Tabla de visualización de productos -->
            <div class="col-md-14">
                <div class="table-container">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered bg-white table-sm" id="tabla">
                            <thead>
                                <tr>
                                    <th>Codigo Equipo</th>
                                    <th>Nombre de Equipo</th>
                                    <th>Periodicidad Mantenimineto (Meses)</th>
                                    <th>Mantenimiento Actual/Proximo</th> <!-- Evaluar la palabra actual por vigente -->
                                    <th>Periodicidad Calibración (Meses)</th>
                                    <th>Calibración Actual/Proxima</th>
                                    <th>Fecha Ingreso</th>
                                    <th>Estado Equipo</th>
                                    <th>Ubicación Original</th>
                                    <th>Garantía Ingreso</th>
                                    <th>Criticos</th>
                                    <th>Proveedor de Venta</th>
                                    <th>Semaforo Mantenimiento</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for producto in indexssalud %}
                                <tr>
                                    <td>{{ producto.cod_articulo }}</td>
                                    <td>{{ producto.nombre_equipo }}</td>
                                    <!-- <td>{{ producto.ubicacion_original }}</td> -->
                                    <td>{{ producto.periodicidad }}</td>

                                    <td>
                                        <span>{{ producto.fecha_mantenimiento }}</span>
                                        <br>
                                        <br>
                                        <span>{{ producto.vencimiento_mantenimiento }}</span>
                                        <input type="hidden"
                                            name="seleccionMantenimiento"
                                            class="form-control fecha-vencimiento"
                                            value="{{ producto.vencimiento_mantenimiento or '' }}"
                                            data-producto-id="{{ producto.cod_articulo }}">

                                        <input 
                                            type="checkbox" 
                                            class="form-check-input"
                                            CheckboxMantenimiento="fecha_mantenimiento" 
                                            data-producto-id="{{ producto.cod_articulo }}"
                                            data-nombre-equipo="{{ producto.nombre_equipo or '' }}"
                                            data-ubicacion-original="{{ producto.ubicacion_original or '' }}"
                                            data-estado-inicial="{{ producto.checkbox_mantenimiento }}" 
                                            data-periodicidad-mantenimiento="{{ producto.periodicidad or '' }}" 
                                            data-fecha-mantenimiento="{{ producto.fecha_mantenimiento or '' }}" 
                                            data-vencimiento-mantenimiento="{{ producto.vencimiento_mantenimiento or '' }}" 
                                        
                                            {% if producto.checkbox_mantenimiento == 'Activo' %}checked{% endif %}
                                        >
                                    </td>
                                    <td>{{ producto.periodicidad_calibracion }}</td>
                                    <td>
                                        <span>{{ producto.fecha_calibracion }}</span>
                                        <br>
                                        <br>
                                        <span>{{ producto.vencimiento_calibracion }}</span>
                                        <input type="hidden"
                                            name="seleccionCalibracion"
                                            class="form-control fecha-vencimiento-calibracion"
                                            value="{{ producto.vencimiento_calibracion or '' }}"
                                            data-producto-id="{{ producto.cod_articulo }}">

                                        <input 
                                            type="checkbox" 
                                            class="form-check-input"
                                            CheckboxMantenimiento="fecha_calibracion"
                                            data-producto-id="{{ producto.cod_articulo }}" 
                                            data-nombre-equipo="{{ producto.nombre_equipo }}"
                                            data-ubicacion-original="{{ producto.ubicacion_original }}"
                                            data-estado-inicial="{{ producto.checkbox_calibracion }}"
                                            data-periodicidad-calibracion="{{ producto.periodicidad_calibracion or '' }}" 
                                            data-fecha-calibracion="{{ producto.fecha_calibracion or '' }}" 
                                            data-vencimiento-calibracion="{{ producto.vencimiento_calibracion or '' }}" 
                                            
                                            {% if producto.checkbox_calibracion=='Activo' %}checked{% endif %}>
                                    </td>
                                    <td>{{ producto.fecha_ingreso }}</td>
                                    <td>
                                        <form action="{{ url_for('inventario.update_estado_equipo', modulo=modulo) }}" method="POST" id="estadoEquipoForm_{{ producto.id }}">
                                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                                            
                                            <input type="hidden" name="producto_id" value="{{ producto.id }}">
                                            <input type="hidden" name="cod_articulo" value="{{ producto.cod_articulo }}">
                                            <input type="hidden" name="nombre_equipo" value="{{ producto.nombre_equipo }}">
                                            <input type="hidden" name="fecha_mantenimiento" value="{{ producto.fecha_mantenimiento }}">
                                            <input type="hidden" name="vencimiento_mantenimiento" value="{{ producto.vencimiento_mantenimiento }}">
                                            <input type="hidden" name="fecha_calibracion" value="{{ producto.fecha_calibracion }}">
                                            <input type="hidden" name="vencimiento_calibracion" value="{{ producto.vencimiento_calibracion }}">
                                            <input type="hidden" name="fecha_ingreso" value="{{ producto.fecha_ingreso }}">
                                            <input type="hidden" name="periodicidad" value="{{ producto.periodicidad }}">
                                            <input type="hidden" name="estado_equipo" value="{{ producto.estado_equipo }}">
                                            <input type="hidden" name="ubicacion_original" value="{{ producto.ubicacion_original }}">
                                            <input type="hidden" name="garantia" value="{{ producto.garantia }}">
                                            <input type="hidden" name="criticos" value="{{ producto.criticos }}">
                                            <input type="hidden" name="proveedor_responsable" value="{{ producto.proveedor_responsable }}">
                                            <input type="hidden" name="filepath_to_db_img" value="{{ producto.filepath_to_db_img }}">
                                            <input type="hidden" name="especificaciones_instalacion" value="{{ producto.especificaciones_instalacion }}">
                                            <input type="hidden" name="cuidados_basicos" value="{{ producto.cuidados_basicos }}">
                                            <input type="hidden" name="periodicidad_calibracion" value="{{ producto.periodicidad_calibracion }}">
                                            <input type="hidden" name="marca_equipo_salud" value="{{ producto.marca_equipo_salud }}">
                                            <input type="hidden" name="modelo_equipo_salud" value="{{ producto.modelo_equipo_salud }}">
                                            <input type="hidden" name="serial_equipo_salud" value="{{ producto.serial_equipo_salud }}">

                                            <!-- <select name="nuevo_estado_equipo" id="estadoEquipoSelect"> ASI ESTA ANTERIORMENTE
                                                {% for estadoEquipo in estadoEquipos %}
                                                <option value="{{ estadoEquipo.estado_equipo }}" {% if producto.estado_equipo == estadoEquipo.estado_equipo %}selected{% endif %}>
                                                    {{ estadoEquipo.estado_equipo }}
                                                </option>
                                                {% endfor %}
                                            </select> -->
                                            <input type="hidden" name="email_receptor" id="correoRecibe_{{ producto.id }}">
                                            <input type="hidden" name="quien_recibe_equipo" id="nombreRecibe_{{ producto.id }}">
                                            <input type="hidden" name="ubicacion_destino_laboratorio" id="ubicacionDestino_{{ producto.id }}">
                                            <input type="hidden" name="fecha_prestamo_equipo" id="fechaPrestamo_{{ producto.id }}">
                                            <input type="hidden" name="fecha_entrega_equipo" id="fechaEntrega_{{ producto.id }}">
                                            
                                            <select name="nuevo_estado_equipo" id="estadoEquipoSelect_{{ producto.id }}" onchange="estadoEquipoChange(this, {{ producto.id }})">
                                                {% for estadoEquipo in estadoEquipos %}
                                                    <option value="{{ estadoEquipo.estado_equipo }}" {% if producto.estado_equipo == estadoEquipo.estado_equipo %}selected{% endif %}>
                                                        {{ estadoEquipo.estado_equipo }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                            <br>
                                            <br>
                                            {% if producto.estado_equipo == 'PRÉSTAMO' and producto.enable == 1 %}
                                                <div class="btn-eliminar">
                                                    <a href="/inventario-laboratorios/prestamos_equipos_salud/{{ producto.cod_articulo }}" class="btn btn-tabla btn-lg">
                                                        <FONT SIZE=3>datos</FONT>
                                                    </a>
                                                </div>
                                            {% endif %}
                                        </form>
                                    </td>
                                    <td>{{ producto.ubicacion_original }}</td>
                                    <td>{{ producto.garantia }}</td>
                                    <td>
                                        {% if producto.criticos == "si" %}
                                        <i class="bi bi-shield-check"></i>
                                        {% else %}
                                        <i class="bi bi-dash-circle fs-2"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="btn-eliminar">
                                            <a href="{{ url_for('inventario.datosProveedorSalud', id=producto.proveedor_responsable) }}" class="btn btn-tabla btn-lg"> 
                                                <FONT SIZE=3>datos</FONT>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="semaforo" data-vencimiento="{{ producto.vencimiento_mantenimiento }}"></td>
                                    <td>
                                        <div class="btn-eliminar">
                                            <a href="{{ url_for('inventario.GET_PRODUCTO_SALUD', id=producto['id'], vista='index_modulo') }}" class="btn btn-secondary btn-sm"><FONT SIZE=2>Editar/Ver hoja de vida</FONT></a>
                                        </div>
                                        <!-- <br>
                                        <div class="btn-eliminar">
                                            <a href="/delete_productoSalud/{{producto.id}}" class="btn btn-tabla btn-sm" >
                                                <FONT SIZE=2>Eliminar</FONT>
                                            </a>
                                        </div> -->
                                        <br>
                                        <form action="{{ url_for('inventario.subir_imagen', id_producto=producto.id) }}" 
                                            method="POST" enctype="multipart/form-data" style="display:inline;">
                                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                                            <!-- Input oculto -->
                                            <input type="file" name="imagen_producto" 
                                                id="file-input-{{ producto.id }}" 
                                                style="display:none;" 
                                                onchange="this.form.submit()">

                                            <!-- Botón que abre el explorador de archivos -->
                                            <div class="btn-eliminar">
                                                <button type="button" class="btn btn-tabla btn-sm"
                                                        onclick="document.getElementById('file-input-{{ producto.id }}').click();">
                                                    Subir_imagen
                                                </button>
                                            </div> 
                                        </form>
                                        
                                        <br>
                                        <form action="{{ url_for('inventario.subir_pdf', id_producto=producto.id) }}" 
                                            method="POST" enctype="multipart/form-data" style="display:inline;">
                                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

                                            <input type="file" name="pdf_salud" 
                                                id="pdf-input-{{ producto.id }}" 
                                                style="display:none;" 
                                                onchange="this.form.submit()">
                                            
                                            <div class="btn-eliminar">
                                                <button type="button" class="btn btn-secondary btn-sm"
                                                        onclick="document.getElementById('pdf-input-{{ producto.id }}').click();">
                                                        Subir guia
                                                </button>
                                            </div>
                                        </form>
                                        <br>
                                        <!-- Botón para ver PDF GUIA -->
                                        {% if producto.pdf_salud %}
                                            <a href="{{ url_for('static', filename=producto.pdf_salud) }}" 
                                            target="_blank" 
                                            class="btn btn-tabla btn-sm">
                                                Ver guia
                                            </a>
                                        {% else %}
                                            <span class="text-muted">SIN GUIA</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>   
            <!-- Modal de Préstamo -->
            <div class="modal fade" id="modalPrestamo" tabindex="-1" aria-labelledby="modalPrestamoLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="modalPrestamoLabel">Detalles del préstamo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" onclick="cerrarModal()"></button>
                </div>

                <div class="modal-body">
                    <form id="formPrestamo">
                    <div class="row g-3">
                        <div class="col-md-6">
                        <label for="inputCorreo" class="form-label">Correo de Quien Recibe:</label>
                        <input type="email" class="form-control" id="inputCorreo" required>
                        </div>

                        <div class="col-md-6">
                        <label for="inputRecibe" class="form-label">Nombre de Quien Recibe Equipo:</label>
                        <input type="text" class="form-control" id="inputRecibe" required>
                        </div>

                        <div class="col-md-6">
                        <label for="inputUbicacionDestino" class="form-label">Ubicación de Destino:</label>
                        <input type="text" class="form-control" id="inputUbicacionDestino" required>
                        </div>
                    </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" id="guardarSeleccionados" class="btn btn-tabla btn-lg" onclick="guardarPrestamo()">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"onclick="cerrarModal()">Cerrar</button>
                </div>

                </div>
            </div>
            </div>
         
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<!-- script para mostrar alerta al cambiar de estado de equipo -->
 <script>
    let currentEquipoId = null;

    function estadoEquipoChange(select, id) {
        
        const confirmar = confirm("¿Está seguro de cambiar el estado del equipo?");
        if (!confirmar) {
            // Si cancela, recarga la página para revertir el cambio visual en el <select>
            location.reload();
            return;
        }
        
        if (select.value === 'PRÉSTAMO') {
            currentEquipoId = id;
            let modal = new bootstrap.Modal(document.getElementById('modalPrestamo'));
            modal.show();
        } else {
            // Si no es préstamo, enviar directamente el formulario
            document.getElementById('estadoEquipoForm_' + id).submit();
        }
    }

    function guardarPrestamo() {
        const recibeCorreo = document.getElementById('inputCorreo').value;
        const quienRecibe = document.getElementById('inputRecibe').value;
        const ubicacionDestino = document.getElementById('inputUbicacionDestino').value;

        if (!recibeCorreo) {
            alert('Ingresar el correo de la persona que recibe el equipo');
            return;
        }

        if (!quienRecibe) {
            alert('Ingresar el nombre de la persona que recibe el equipo');
            return;
        }

        if (!ubicacionDestino) {
            alert('Ingresar la ubicación de destino del equipo');
            return;
        }

        document.getElementById('correoRecibe_' + currentEquipoId).value = recibeCorreo;
        document.getElementById('nombreRecibe_' + currentEquipoId).value = quienRecibe;
        document.getElementById('ubicacionDestino_' + currentEquipoId).value = ubicacionDestino;

        function cerrarModal() {
        const modalEl = document.getElementById('modalPrestamo');
        const modalInstance = bootstrap.Modal.getInstance(modalEl);
        if (modalInstance) {
            modalInstance.hide();
        }
    }

        document.getElementById('estadoEquipoForm_' + currentEquipoId).submit();
    }

    function cerrarModal() {
        document.getElementById('modalPrestamo').style.display = 'none';
    }
</script>

<!-- <script>
    document.addEventListener('DOMContentLoaded', function() {
        // Selecciona todos los selects de estado
        var selectsEstado = document.querySelectorAll('select[name="nuevo_estado_equipo"]');

        // Agrega un event listener a cada select
        selectsEstado.forEach(function(selectEstado) {
            selectEstado.addEventListener('change', function() {
                var nuevoEstado = this.value;
                var confirmacion = confirm("¿Está seguro de cambiar el estado del equipo a: " + nuevoEstado + "?");

                if (confirmacion) {
                    // Envía el formulario correspondiente a este select
                    var formEstado = this.closest('form'); // Encuentra el formulario más cercano
                    formEstado.submit();
                } else {
                    // Si cancela, recarga la página para revertir el cambio
                    window.location.reload();
                }
            });
        });
    });
</script> -->

<!-- Scripts para el ocultar el formulario -->
<script>
    document.getElementById('toggleFormBtn').addEventListener('click', function () {
        var formContainer = document.getElementById('formContainer');
        var toggleBtn = document.getElementById('toggleFormBtn');

        if (formContainer.style.display === 'none' || formContainer.style.display === '') {
            formContainer.style.display = 'block';
            toggleBtn.textContent = ' Ocultar Formulario';
        } else {
            formContainer.style.display = 'none';
            toggleBtn.textContent = ' Agregar Equipo Manual';
        }
    });
</script>

<!-- Scripts para insertar equipos masivos .CSV -->
<script>
    document.getElementById('toggleForm').addEventListener('click', function () {
        var formContain = document.getElementById('formContain');
        var toggleBtn = document.getElementById('toggleForm');

        if (formContain.style.display === 'none' || formContain.style.display === '') {
            formContain.style.display = 'block';
            toggleBtn.textContent = ' Ocultar CSV';
        } else {
            formContain.style.display = 'none';
            toggleBtn.textContent = ' Agregar Equipos Masivos CSV';
        }
    });
</script>

<!-- Scripts para actualizar fechas masivamente  -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        tooltipTriggerList.forEach(function (tooltipTriggerEl) {
            new bootstrap.Tooltip(tooltipTriggerEl);
        });
    });
</script>

<!-- script para actualizar semaforo de la tabla indexSalud.html -->
<script>
function pintarSemaforos() {

    const semaforos = document.querySelectorAll('.semaforo');

    // document.addEventListener("DOMContentLoaded", function () {

        semaforos.forEach(el => {
            const fechaVencimiento = new Date(el.getAttribute('data-vencimiento'));
            const hoy = new Date();
            const diffDias = Math.ceil((fechaVencimiento - hoy) / (1000 * 60 * 60 * 24));
            let color = "green";

            if (diffDias < 0) {
                color = 'purple';
            } else if (diffDias <= 30) {
                color= 'red';
            } else if (diffDias <= 90) {
                color = 'yellow';
            } else {
                color = 'green';
            }

            el.style.backgroundColor = color;
            el.style.width = "45px";
            el.style.height = "45px";
            el.style.borderRadius = "50%";           // 🔵 Hace el div completamente redondo
            el.style.display = "inline-block";
            el.style.border = "1px solid #333";      // 🔲 Borde opcional para mejor visibilidad
            el.title = `Vence en ${diffDias} días`;
        });
    // });
}
// <!-- boton de busqueda y filtro, con lenguaje en español -->
document.addEventListener("DOMContentLoaded", pintarSemaforos);
// Inicializar DataTable
$(document).ready(function () {
    let tabla = $("#tabla").DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
        }
    });

    // Repintar cada vez que la tabla se redibuja (cambio de página)
    tabla.on('draw.dt', function () {
        pintarSemaforos();
    });
});
</script>

<!-- Scripts para el checkbox (Para activar o desactivar manualmente desde la tabla.) -->
<script>
    var csrf_token = "{{ csrf_token() }}";
</script>



{% endblock %}
